.team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $teamBackground;
}

.team__title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.179;
}

.team__person-list {
  text-align: center;
}

.person-card {
  margin-bottom: 30px;

  box-shadow: $personCardShadow;
  border-radius: 0px 0px 4px 4px;
  background-color: $personCardBackground;

  &:last-child {
    margin-bottom: 0;
  }
}

.person-card__description {
  padding: 30px 10px 24px 10px;
}

.person-card__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.person-card__position {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: $secondaryTextColor;
}

.team__icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__icons-item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.team__icon-link {
  padding: 12px;
  display: inline-flex;
  border-radius: 50%;

  color: $colorIconTeam;

  &:hover,
  &:focus {
    background-color: $hoverColor;
    color: $hoverIconTeam;
  }
}
