/* Common */
$mainTextColor: #212121;
$secondaryTextColor: #757575;
$logoBasic: #000000;
$logoWeb: #2196f3;
$hoverColor: #2196f3;

/* Mobile menu */
$backgroundMenuHeader: #ffffff;
$verticalIconMenuHeader: rgba(33, 33, 33, 0.2);

/* Hero */
$heroTitleColor: #ffffff;

/* Advantages */
$backgroundIcon: #f5f4fa;

/* Team */
$teamBackground: #f5f4fa;
$personCardBackground: #ffffff;
$personCardShadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$colorIconTeam: #afb1b8;
$hoverIconTeam: #ffffff;

/* Customers */
$cardColorCustomers: #afb1b8;

/* Footer */
$backgroundColorFooter: #2f303a;
$addressColorFooter: #ffffff;
$contactsColorFooter: rgba(255, 255, 255, 0.6);
$joinTextColorFooter: #ffffff;
$backgroundSocialLinkFooter: rgba(255, 255, 255, 0.1);
$socialIconColorFooter: #ffffff;
$subscribeLabelColorFooter: #ffffff;
$subscribeInputBorderColor: rgba(255, 255, 255, 0.3);
$subscribeInputTextColor: rgba(255, 255, 255, 0.6);

/* Modal */
$backdropBackground: rgba(0, 0, 0, 0.2);
$modalBackground: #ffffff;
$inputBorderColorModal: rgba(33, 33, 33, 0.2);
$textareaTextColor: rgba(117, 117, 117, 0.5);
$policyCheckBorderColor: #212121;
$closeBorderColor: rgba(0, 0, 0, 0.1);

/* Text color */

$logoStudioFooter: #ffffff;
$officeAddressColor: #ffffff;
$contactsFooterColor: rgba(255, 255, 255, 0.6);

$heroButtonColor: #ffffff;

$filterButtonHoverColor: #ffffff;

/* Header border */
$headerBorderColor: #ececec;

/* Button */
$backgroundPortfolioButton: #f5f4fa;
$backgroundButtonHover: #2196f3;

/* Hero block */
$heroColor: #2f303a;

/* Advantages card */

/* Work list */
$workListColor: #ffffff;
$workListBackground: rgba(47, 48, 58, 0.8);

/* Our team */

/* Regular customers */

/* Card team*/
$backgroundCardTeam: #ffffff;

/* Portfolio card */
$portfolioCardBorder: #eeeeee;
$portfolioTextColor: #ffffff;
$portfolioTextBackground: rgba(33, 150, 243, 0.9);

/* Footer block */

/* Modal */

/* Card set gap */
$cardSetGap: 30px;

/* Animation */
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
